{#def
    user: DetailedUser,
    auto_download: bool,
    region: audible_region_type,
    show_popular: bool, # no need to show popular if sole user with requests
#}

<BaseLayout title="AudioBookRequest" user={{ user }}>
<div class="w-screen flex flex-col items-center justify-center p-4 sm:p-8 overflow-x-hidden gap-2">
    <div class="w-full max-w-7xl"
         hx-get="{{ base_url }}/hx-hero"
         hx-trigger="load"
         hx-swap="outerHTML">
        <div class="rounded-2xl bg-base-200 animate-pulse min-h-64 mb-8">
        </div>
    </div>

    <Index.PopularSection title="Recently Added" user={{ user }} lazy_url="/hx-recent-library" region={{ region }} auto_start_download={{ auto_download }} />
    <Index.PopularSection title="For You" user={{ user }} view_more="/recommendations/for-you" lazy_url="/hx-for-you" region={{ region }} auto_start_download={{ auto_download }} />
    <Index.PopularSection title="Popular on Audible" user={{ user }} lazy_url="/hx-fallback" region={{ region }} auto_start_download={{ auto_download }} />
    {% if show_popular %}
        <Index.PopularSection title="Popular on this server" user={{ user }} lazy_url="/hx-popular" region={{ region }} auto_start_download={{ auto_download }} />
    {% endif %}
    <Index.Categories lazy_load={{ True }} region={{ region }} auto_start_download={{ auto_download }} user={{ user }} />

</div>
</BaseLayout>
